.page-layout {
  display: flex;
  background-color: rgba(62, 69, 163);
  width: 100vw;
  min-height: 100vh;
  margin: 0
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(62, 69, 163);
  width: 100vw;
  height: 8vh;
}

.left-styling-box {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.correct {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.incorrect {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.rounds-box {
  margin: 6vh 6vw 6vh 0;
  background-color: rgba(84, 69, 163);
  width: 30vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 7px 2px rgba(23, 28, 97, .8),
-2px -2px 5px 1px rgba(25, 30, 97, .4);
}

.start-fresh {
  padding: 1vh;
  border-radius: 20px;
  font-size: 1.5em;
  text-decoration: none;
  color: rgba(247, 248, 250);
  background-color: rgba(84, 69, 163);
  box-shadow: 5px 5px 7px 2px rgba(23, 28, 97, .8),
-2px -2px 5px 1px rgba(25, 30, 97, .4);
}

.section-header {
  font-weight: bolder;
  font-size: 1.5em;
  color: rgba(247, 248, 250);
}


@media only screen and (max-width: 730px) {

}

@media only screen and (max-width: 576px) {

}
