.layout {
  background-color: rgba(62, 69, 163);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.error-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styling {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background-color: rgba(41, 45, 105);
  margin: 10%;
  border-radius: 20px;
  box-shadow: 5px 5px 7px 2px rgba(23, 28, 97, .8),
-2px -2px 5px 1px rgba(25, 30, 97, .4);
}

.how {
  font-size: 2em;
  color: rgba(247, 248, 250);
}

.head-back {
  text-align: center;
  border-radius: 20px;
  font-size: 5em;
  width: 70%;
  height: 5vh;
  text-decoration: none;
  color: rgba(247, 248, 250);
}

@media only screen and (max-width: 730px) {

  .how {
    margin: 2vh;
    font-size: 1.5em;
  }

  .head-back {
    margin: 2vh;
    font-size: 2.5em;
  }

}

@media only screen and (max-width: 576px) {

  .how {
    margin: 2vh;
    font-size: 1em;
  }

  .head-back {
    margin: 2vh;
    font-size: 2em;
  }

}
